p, h5 {
    margin: 0;
}

.container
{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    flex-wrap: wrap;
}

.card
{
    margin: 10px;
    padding: 5px;
}

.card_album
{
    cursor: pointer;
}

.book-body {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.book-body-one {
    display: flex;
    flex-direction: column;
}

.center {
    display: flex;
    justify-content: center;
}
/* 
.book-author {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.book-genre {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.book-cost {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.book-stock {
    display: flex;
    align-items: center;
    column-gap: 10px;
} */